@model IEnumerable<SchoolProject.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of school teachers</h2>

<div><a href="/Teacher/New">New Teacher</a></div>

@*Initiative question 1: Search bar with button*@
<form method="get" action="/Teacher/List">
    <label>Search</label>
    <input type="text" name="SearchKey" />
    <button>Search</button>
</form>

@*Loop going through each teacher entry/row to create a list in the View*@
@{
    foreach (SchoolProject.Models.Teacher Teacher in Model)
    {
        <div><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFirstName @Teacher.TeacherLastName</a></div>
    }
}



